# Week 2 - Preprocessing, part 2

# 1. Lesson: None

# 2. Weekly graph question

The Storytelling With Data book mentions planning on a "Who, What, and How" for your data story.  Write down a possible Who, What, and How for your data, using the ideas in the book.

Who:

What:

How:

# 3. Homework - work with your own data

In [2]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta

This week, you will do the same types of exercises as last week, but you should use your chosen datasets that someone in your class found last semester. (They likely will not be the particular datasets that you found yourself.)

### Here are some types of analysis you can do  Use Google, documentation, and ChatGPT to help you:

- Summarize the datasets using info() and describe()

- Are there any duplicate rows?

- Are there any duplicate values in a given column (when this would be inappropriate?)

- What are the mean, median, and mode of each column?

- Are there any missing or null values?

    - Do you want to fill in the missing value with a mean value?  A value of your choice?  Remove that row?

- Identify any other inconsistent data (e.g. someone seems to be taking an action before they are born.)

- Encode any categorical variables (e.g. with one-hot encoding.)

### Conclusions:

- Are the data usable?  If not, find some new data!


- Do you need to modify or correct the data in some way?

- Is there any class imbalance?  (Categories that have many more items than other categories).

### Project Chosen: Digital Marketing Project: Predicting Customer Value, Conversion, and Churn
#### Load the dataset. I will be working with the first dataset included in this project for this journal which is the Marketing Campaign Dataset from Kaggle.

In [9]:
#Dataset 1: Marketing Campaign Dataset
marketing_campaign = pd.read_csv("marketing_campaign.csv", sep=';')
marketing_campaign

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,5524,1957,Graduation,Single,58138.0,0,0,2012-09-04,58,635,...,7,0,0,0,0,0,0,3,11,1
1,2174,1954,Graduation,Single,46344.0,1,1,2014-03-08,38,11,...,5,0,0,0,0,0,0,3,11,0
2,4141,1965,Graduation,Together,71613.0,0,0,2013-08-21,26,426,...,4,0,0,0,0,0,0,3,11,0
3,6182,1984,Graduation,Together,26646.0,1,0,2014-02-10,26,11,...,6,0,0,0,0,0,0,3,11,0
4,5324,1981,PhD,Married,58293.0,1,0,2014-01-19,94,173,...,5,0,0,0,0,0,0,3,11,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2235,10870,1967,Graduation,Married,61223.0,0,1,2013-06-13,46,709,...,5,0,0,0,0,0,0,3,11,0
2236,4001,1946,PhD,Together,64014.0,2,1,2014-06-10,56,406,...,7,0,0,0,1,0,0,3,11,0
2237,7270,1981,Graduation,Divorced,56981.0,0,0,2014-01-25,91,908,...,6,0,1,0,0,0,0,3,11,0
2238,8235,1956,Master,Together,69245.0,0,1,2014-01-24,8,428,...,3,0,0,0,0,0,0,3,11,0
2239,9405,1954,PhD,Married,52869.0,1,1,2012-10-15,40,84,...,7,0,0,0,0,0,0,3,11,1

#### 1. Use describe() and info() to analyze the data. Also, look at the first few rows.

In [11]:
marketing_campaign.describe()

,ID,Year_Birth,Income,Kidhome,Teenhome,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
count,2240.000000,2240.000000,2216.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,...,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.0,2240.0,2240.000000
mean,5592.159821,1968.805804,52247.251354,0.444196,0.506250,49.109375,303.935714,26.302232,166.950000,37.525446,...,5.316518,0.072768,0.074554,0.072768,0.064286,0.013393,0.009375,3.0,11.0,0.149107
std,3246.662198,11.984069,25173.076661,0.538398,0.544538,28.962453,336.597393,39.773434,225.715373,54.628979,...,2.426645,0.259813,0.262728,0.259813,0.245316,0.114976,0.096391,0.0,0.0,0.356274
min,0.000000,1893.000000,1730.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.0,11.0,0.000000
25%,2828.250000,1959.000000,35303.000000,0.000000,0.000000,24.000000,23.750000,1.000000,16.000000,3.000000,...,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.0,11.0,0.000000
50%,5458.500000,1970.000000,51381.500000,0.000000,0.000000,49.000000,173.500000,8.000000,67.000000,12.000000,...,6.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.0,11.0,0.000000
75%,8427.750000,1977.000000,68522.000000,1.000000,1.000000,74.000000,504.250000,33.000000,232.000000,50.000000,...,7.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.0,11.0,0.000000
max,11191.000000,1996.000000,666666.000000,2.000000,2.000000,99.000000,1493.000000,199.000000,1725.000000,259.000000,...,20.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,3.0,11.0,1.000000

In [12]:
marketing_campaign.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2240 entries, 0 to 2239
Data columns (total 29 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   2240 non-null   int64
 1   Year_Birth           2240 non-null   int64
 2   Education            2240 non-null   object
 3   Marital_Status       2240 non-null   object
 4   Income               2216 non-null   float64
 5   Kidhome              2240 non-null   int64
 6   Teenhome             2240 non-null   int64
 7   Dt_Customer          2240 non-null   object
 8   Recency              2240 non-null   int64
 9   MntWines             2240 non-null   int64
 10  MntFruits            2240 non-null   int64
 11  MntMeatProducts      2240 non-null   int64
 12  MntFishProducts      2240 non-null   int64
 13  MntSweetProducts     2240 non-null   int64
 14  MntGoldProds         2240 non-null   int64
 15  NumDealsPurchases    2240 non-null   int64
 16  NumWebPurchases      2240 non-null   int64
 17  NumCatalogPurchases  2240 non-null   int64
 18  NumStorePurchases    2240 non-null   int64
 19  NumWebVisitsMonth    2240 non-null   int64
 20  AcceptedCmp3         2240 non-null   int64
 21  AcceptedCmp4         2240 non-null   int64
 22  AcceptedCmp5         2240 non-null   int64
 23  AcceptedCmp1         2240 non-null   int64
 24  AcceptedCmp2         2240 non-null   int64
 25  Complain             2240 non-null   int64
 26  Z_CostContact        2240 non-null   int64
 27  Z_Revenue            2240 non-null   int64
 28  Response             2240 non-null   int64
dtypes: float64(1), int64(25), object(3)
memory usage: 507.6+ KB

In [14]:
marketing_campaign.head(10) #look at first 10 rows

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,5524,1957,Graduation,Single,58138.0,0,0,2012-09-04,58,635,...,7,0,0,0,0,0,0,3,11,1
1,2174,1954,Graduation,Single,46344.0,1,1,2014-03-08,38,11,...,5,0,0,0,0,0,0,3,11,0
2,4141,1965,Graduation,Together,71613.0,0,0,2013-08-21,26,426,...,4,0,0,0,0,0,0,3,11,0
3,6182,1984,Graduation,Together,26646.0,1,0,2014-02-10,26,11,...,6,0,0,0,0,0,0,3,11,0
4,5324,1981,PhD,Married,58293.0,1,0,2014-01-19,94,173,...,5,0,0,0,0,0,0,3,11,0
5,7446,1967,Master,Together,62513.0,0,1,2013-09-09,16,520,...,6,0,0,0,0,0,0,3,11,0
6,965,1971,Graduation,Divorced,55635.0,0,1,2012-11-13,34,235,...,6,0,0,0,0,0,0,3,11,0
7,6177,1985,PhD,Married,33454.0,1,0,2013-05-08,32,76,...,8,0,0,0,0,0,0,3,11,0
8,4855,1974,PhD,Together,30351.0,1,0,2013-06-06,19,14,...,9,0,0,0,0,0,0,3,11,1
9,5899,1950,PhD,Together,5648.0,1,1,2014-03-13,68,28,...,20,1,0,0,0,0,0,3,11,0

#### 2. Check whether there are any null values in the DataFrame.  If so, remove those rows or (if you prefer) fill in the value with an appropriate number.

In [15]:
#check for rows with null values
nullrows = marketing_campaign[marketing_campaign.isnull().any(axis=1)]
print(nullrows)

         ID  Year_Birth   Education Marital_Status  Income  Kidhome  Teenhome  \
10     1994        1983  Graduation        Married     NaN        1         0
27     5255        1986  Graduation         Single     NaN        1         0
43     7281        1959         PhD         Single     NaN        0         0
48     7244        1951  Graduation         Single     NaN        2         1
58     8557        1982  Graduation         Single     NaN        1         0
71    10629        1973    2n Cycle        Married     NaN        1         0
90     8996        1957         PhD        Married     NaN        2         1
91     9235        1957  Graduation         Single     NaN        1         1
92     5798        1973      Master       Together     NaN        0         0
128    8268        1961         PhD        Married     NaN        0         1
133    1295        1963  Graduation        Married     NaN        0         1
312    2437        1989  Graduation        Married     NaN        0         0
319    2863        1970  Graduation         Single     NaN        1         2
1379  10475        1970      Master       Together     NaN        0         1
1382   2902        1958  Graduation       Together     NaN        1         1
1383   4345        1964    2n Cycle         Single     NaN        1         1
1386   3769        1972         PhD       Together     NaN        1         0
2059   7187        1969      Master       Together     NaN        1         1
2061   1612        1981         PhD         Single     NaN        1         0
2078   5079        1971  Graduation        Married     NaN        1         1
2079  10339        1954      Master       Together     NaN        0         1
2081   3117        1955  Graduation         Single     NaN        0         1
2084   5250        1943      Master          Widow     NaN        0         0
2228   8720        1978    2n Cycle       Together     NaN        0         0

     Dt_Customer  Recency  MntWines  ...  NumWebVisitsMonth  AcceptedCmp3  \
10    2013-11-15       11         5  ...                  7             0
27    2013-02-20       19         5  ...                  1             0
43    2013-11-05       80        81  ...                  2             0
48    2014-01-01       96        48  ...                  6             0
58    2013-06-17       57        11  ...                  6             0
71    2012-09-14       25        25  ...                  8             0
90    2012-11-19        4       230  ...                  9             0
91    2014-05-27       45         7  ...                  7             0
92    2013-11-23       87       445  ...                  1             0
128   2013-07-11       23       352  ...                  6             0
133   2013-08-11       96       231  ...                  4             0
312   2013-06-03       69       861  ...                  3             0
319   2013-08-23       67       738  ...                  7             0
1379  2013-04-01       39       187  ...                  5             0
1382  2012-09-03       87        19  ...                  5             0
1383  2014-01-12       49         5  ...                  7             0
1386  2014-03-02       17        25  ...                  7             0
2059  2013-05-18       52       375  ...                  3             0
2061  2013-05-31       82        23  ...                  6             0
2078  2013-03-03       82        71  ...                  8             0
2079  2013-06-23       83       161  ...                  6             0
2081  2013-10-18       95       264  ...                  7             0
2084  2013-10-30       75       532  ...                  1             0
2228  2012-08-12       53        32  ...                  0             0

      AcceptedCmp4  AcceptedCmp5  AcceptedCmp1  AcceptedCmp2  Complain  \
10               0             0             0             0         0
27               0             0             0             0         0
43               0             0             0             0         0
48               0             0             0             0         0
58               0             0             0             0         0
71               0             0             0             0         0
90               0             0             0             0         0
91               0             0             0             0         0
92               0             0             0             0         0
128              0             0             0             0         0
133              0             0             0             0         0
312              1             0             1             0         0
319              1             0             1             0         0
1379             0             0             0             0         0
1382             0             0             0             0         0
1383             0             0             0             0         0
1386             0             0             0             0         0
2059             0             0             0             0         0
2061             0             0             0             0         0
2078             0             0             0             0         0
2079             0             0             0             0         0
2081             0             0             0             0         0
2084             0             1             0             0         0
2228             1             0             0             0         0

      Z_CostContact  Z_Revenue  Response
10                3         11         0
27                3         11         0
43                3         11         0
48                3         11         0
58                3         11         0
71                3         11         0
90                3         11         0
91                3         11         0
92                3         11         0
128               3         11         0
133               3         11         0
312               3         11         0
319               3         11         0
1379              3         11         0
1382              3         11         0
1383              3         11         0
1386              3         11         0
2059              3         11         0
2061              3         11         0
2078              3         11         0
2079              3         11         0
2081              3         11         0
2084              3         11         1
2228              3         11         0

[24 rows x 29 columns]

In [16]:
#remove null row
marketing_campaign.dropna(inplace=True)
marketing_campaign

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,5524,1957,Graduation,Single,58138.0,0,0,2012-09-04,58,635,...,7,0,0,0,0,0,0,3,11,1
1,2174,1954,Graduation,Single,46344.0,1,1,2014-03-08,38,11,...,5,0,0,0,0,0,0,3,11,0
2,4141,1965,Graduation,Together,71613.0,0,0,2013-08-21,26,426,...,4,0,0,0,0,0,0,3,11,0
3,6182,1984,Graduation,Together,26646.0,1,0,2014-02-10,26,11,...,6,0,0,0,0,0,0,3,11,0
4,5324,1981,PhD,Married,58293.0,1,0,2014-01-19,94,173,...,5,0,0,0,0,0,0,3,11,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2235,10870,1967,Graduation,Married,61223.0,0,1,2013-06-13,46,709,...,5,0,0,0,0,0,0,3,11,0
2236,4001,1946,PhD,Together,64014.0,2,1,2014-06-10,56,406,...,7,0,0,0,1,0,0,3,11,0
2237,7270,1981,Graduation,Divorced,56981.0,0,0,2014-01-25,91,908,...,6,0,1,0,0,0,0,3,11,0
2238,8235,1956,Master,Together,69245.0,0,1,2014-01-24,8,428,...,3,0,0,0,0,0,0,3,11,0
2239,9405,1954,PhD,Married,52869.0,1,1,2012-10-15,40,84,...,7,0,0,0,0,0,0,3,11,1

#### 3. Check for any duplicate rows (two rows exactly the same).  List their row numbers.  Then remove the duplicates

In [20]:
marketing_campaign[marketing_campaign.duplicated()]

Empty DataFrame
Columns: [ID, Year_Birth, Education, Marital_Status, Income, Kidhome, Teenhome, Dt_Customer, Recency, MntWines, MntFruits, MntMeatProducts, MntFishProducts, MntSweetProducts, MntGoldProds, NumDealsPurchases, NumWebPurchases, NumCatalogPurchases, NumStorePurchases, NumWebVisitsMonth, AcceptedCmp3, AcceptedCmp4, AcceptedCmp5, AcceptedCmp1, AcceptedCmp2, Complain, Z_CostContact, Z_Revenue, Response]
Index: []

[0 rows x 29 columns]

no duplicate rows!

#### 4. Find the mean, median, and mode of each column

In [24]:
mean = marketing_campaign.mean(numeric_only=True)
print(mean)

ID                      5588.353339
Year_Birth              1968.820397
Income                 52247.251354
Kidhome                    0.441787
Teenhome                   0.505415
Recency                   49.012635
MntWines                 305.091606
MntFruits                 26.356047
MntMeatProducts          166.995939
MntFishProducts           37.637635
MntSweetProducts          27.028881
MntGoldProds              43.965253
NumDealsPurchases          2.323556
NumWebPurchases            4.085289
NumCatalogPurchases        2.671029
NumStorePurchases          5.800993
NumWebVisitsMonth          5.319043
AcceptedCmp3               0.073556
AcceptedCmp4               0.074007
AcceptedCmp5               0.073105
AcceptedCmp1               0.064079
AcceptedCmp2               0.013538
Complain                   0.009477
Z_CostContact              3.000000
Z_Revenue                 11.000000
Response                   0.150271
dtype: float64

In [25]:
median = marketing_campaign.median(numeric_only=True)
print(median)

ID                      5458.5
Year_Birth              1970.0
Income                 51381.5
Kidhome                    0.0
Teenhome                   0.0
Recency                   49.0
MntWines                 174.5
MntFruits                  8.0
MntMeatProducts           68.0
MntFishProducts           12.0
MntSweetProducts           8.0
MntGoldProds              24.5
NumDealsPurchases          2.0
NumWebPurchases            4.0
NumCatalogPurchases        2.0
NumStorePurchases          5.0
NumWebVisitsMonth          6.0
AcceptedCmp3               0.0
AcceptedCmp4               0.0
AcceptedCmp5               0.0
AcceptedCmp1               0.0
AcceptedCmp2               0.0
Complain                   0.0
Z_CostContact              3.0
Z_Revenue                 11.0
Response                   0.0
dtype: float64

In [27]:
mode = marketing_campaign.mode(numeric_only=True).iloc[0]
print(mode)

ID                        0.0
Year_Birth             1976.0
Income                 7500.0
Kidhome                   0.0
Teenhome                  0.0
Recency                  56.0
MntWines                  2.0
MntFruits                 0.0
MntMeatProducts           7.0
MntFishProducts           0.0
MntSweetProducts          0.0
MntGoldProds              1.0
NumDealsPurchases         1.0
NumWebPurchases           2.0
NumCatalogPurchases       0.0
NumStorePurchases         3.0
NumWebVisitsMonth         7.0
AcceptedCmp3              0.0
AcceptedCmp4              0.0
AcceptedCmp5              0.0
AcceptedCmp1              0.0
AcceptedCmp2              0.0
Complain                  0.0
Z_CostContact             3.0
Z_Revenue                11.0
Response                  0.0
Name: 0, dtype: float64

### Conclusions:

- Are the data usable?  If not, find some new data. 
> Data is usable! No duplicates and null rows have been removed.

- Do you need to modify or correct the data in some way?
> I have removed the null rows and the data seems ready to use!
- Is there any class imbalance?  (Categories that have many more items than other categories).
> There does not seem to be any class imbalance.

# 4. Storytelling With Data graph

Just like last week: choose any graph in the Introduction of Storytelling With Data. Use matplotlib to reproduce it in a rough way. I don't expect you to spend an enormous amount of time on this; I understand that you likely will not have time to re-create every feature of the graph. However, if you're excited about learning to use matplotlib, this is a good way to do that. You don't have to duplicate the exact values on the graph; just the same rough shape will be enough.  If you don't feel comfortable using matplotlib yet, do the best you can and write down what you tried or what Google searches you did to find the answers.